.checkout-page{
    max-width:1200px;
    margin:40px auto;
    padding:20px;
}

.checkout-container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.address-box,
.summary-box{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.address-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

.address-box button,
.pay-btn{
    width:100%;
    padding:14px;
    border:none;
    background:#16a34a;
    color:white;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.summary-item{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

@media(max-width:768px){
.checkout-container{
grid-template-columns:1fr;
}
}