.success-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
    background:#f5f5f5;
}

.success-card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    width:500px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.success-icon{
    font-size:70px;
}

.success-card h1{
    margin:20px 0;
}

.success-card p{
    color:#666;
}

.success-buttons{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}

.success-buttons button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#16a34a;
    color:white;
}

.secondary{
    background:#2563eb;
}